In [77]:
import numpy as np
import pandas as pd

In [78]:
df = pd.read_table('C:\Santhosh\AIML\Github\ML-data-preprocessing\data\Test_u94Q5KV.txt', delimiter=",", names=('Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type', 'Item_MRP', 'Outlet_Identifier', 'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'))

In [79]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,10007.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,870.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [80]:
df.isnull().sum(axis = 0)

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [81]:
# More nulls in Item weight and outlet size

In [82]:
data_with_missing_rows = df['Item_Weight']

In [83]:
data_with_missing_rows.isnull().sum(axis=0)

976

In [84]:
data_with_missing_rows.head(10)

0    20.750
1     8.300
2    14.600
3     7.315
4       NaN
5     9.800
6    19.350
7       NaN
8     6.305
9     5.985
Name: Item_Weight, dtype: float64

In [85]:
#4,7 has NaN values

In [86]:
+++ = data_with_missing_rows.values.reshape(-1,1)

#Impute the values using scikit-learn SimpleImpute Class
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer( strategy='mean') #for median imputation replace 'mean' with 'median'
imp_mean.fit(data_with_missing_rows)
imputed_train_df = imp_mean.transform(data_with_missing_rows)

In [96]:
pd.DataFrame(imputed_train_df).head(10)

        0
0  20.750
1   8.300
2  14.600
3   7.315
4  10.500
5   9.800
6  19.350
7  10.500
8   6.305
9   5.985

In [99]:
# Works well with Categorical data - Most frequent
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer( strategy='most_frequent')
imp_mean.fit(data_with_missing_rows)
imputed_train_df = imp_mean.transform(data_with_missing_rows)

In [100]:
pd.DataFrame(imputed_train_df).head(10)

        0
0  20.750
1   8.300
2  14.600
3   7.315
4  10.500
5   9.800
6  19.350
7  10.500
8   6.305
9   5.985