In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_table('C:\Santhosh\AIML\Github\ML-data-preprocessing\data\Test_u94Q5KV.txt', delimiter=",", names=('Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type', 'Item_MRP', 'Outlet_Identifier', 'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type', 'Item_Outlet_Sales'))

In [4]:
df.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,NaN
1,FDW58,20.75,Low Fat,0.007564836,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,NaN
2,FDW14,8.3,reg,0.038427677,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN
3,NCN55,14.6,Low Fat,0.099574908,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store,NaN
4,FDQ58,7.315,Low Fat,0.015388393,Snack Foods,155.034,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN